/* This allows me to select everything with a star symbol that apply to all. */

* {
padding: 8px;
font-size: 20px;
font-family: sans-serif;                     
box-sizing: border-box;

}

/* add position and fonts to css */

body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: whitesmoke;
    color: #4F4846;
}

/* created a header and add a background image */

.header {
    display: flex;
    background: rgb(87, 87, 87);
    color: rgb(0, 0, 0);
}

.cool {
    height: 200px;
    width: 100%;
    background-image: url(../Developer-Portfolio/Images/blue.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 30px;
}

section {
    display: flex;
    padding: 0%;
}

/* added flex to come coloum of rows for work secetion */


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    min-height: 200px;

}

.left-col {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 20%;
    border-right: 4px solid black;
}

.right-col {
    display: flex;
    flex: 0 0 75%;
    justify-content: center;
    align-items: center;
}

.project {
    padding: 20px;
    margin: 2px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.surf-report {
    background-image: url(./Images/photo-1604964432806-254d07c11f32.jpg);
    height: 75%;
    width: 40%;
    grid-row-start: 1;
}

.LED-Wall {
    background-image: url(./Images/code.jpeg);
    height: 75%;
    width: 40%;
}

.Calculator {
    background-image: url(./Images/picture3.webp);
    height: 75%;
    width: 40%;
}

.Pastel {
    background-image: url(./Images/picture4.jpeg);
    height: 75%;
    width: 40%;
}

.Buddy {
    background-image: url(./Images/picture5.jpeg);
    height: 75%;
    width: 40%;
}

.header .eli {
    color: rgb(156, 9, 9);
    padding: 0px;
    font-size: 30px;
}

.as {
    padding: 0px 0px;
    font-size: 30px;
    color: white;
}

/* adding style to H1-h5 and color */

h1 {
    border: 5px solid black;
    background-color: black;
    margin-right: 26%;
    width: 34%;
    text-align: end;
    
}

li {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}
h4{
    color: white;
    background-color: black;
    align-items: center;
}

h5 {
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 20px; 
    display: flex;
    flex: 0 0 20%;
    flex-direction: row-reverse;
}

p {
    border: 5px black;
    padding: 5%;
    margin-left: 28%;
    margin-top: -139px;
    align-items: center;
    justify-content: center;
}

/* added link tags for social medias */

.fa {
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover::after {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    object-position: 40%;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

h5 {
    font-size: 20px;
    font-family: sans-serif;
    margin-left: -35px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Adding reszing for phones */

@media screen and (min-width: 932px) {
    .flex-container {
    flex: 0 0 100%;
    max-width: 100%;
    }
}