* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: whitesmoke;
    color: #4F4846;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: rgb(87, 87, 87);
    color: #fff;
}

.header .eli {
    color: rgb(42, 51, 11);
}

h1 {
    border: 5px solid rgb(4, 117, 121);
    background-color: rgb(4, 117, 121);
}

li {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}

h2,
h3,
h4 {
    height: 100%;
    width: 100%;
    padding: 2%;
    margin-left: 15%;

}

p {
    border: 5px black;
    padding: 5%;
    margin-left: 28%;
    margin-top: -139px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    object-position: 40%;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
