* {
padding: 8px;
font-size: 20px;
font-family: sans-serif;
box-sizing: border-box;

}

body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: whitesmoke;
    color: #4F4846;
}
.header {
    display: flex;
    background: rgb(87, 87, 87);
    color: rgb(0, 0, 0);
}

.one {

}

section {
    display: flex;
    padding: 0%;
    background-color: #007bb5;
}

.header .eli {
    color: rgb(156, 9, 9);
    padding: 0px;
    font-size: 30px;
}

.as {
    padding: 0px 0px;
    font-size: 30px;
}

h1 {
    border: 5px solid #007bb5;
    background-color: #007bb5;
    margin-right: 26%;
    width: 34%;
    text-align: end;
    
}

li {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

h2,
h3,
h4 {
    height: 100%;
    width: 100%;
    padding: 2%;
    margin-left: 15%;
    text-decoration: underline;
    font-size: 150%;

}

p {
    border: 5px black;
    padding: 5%;
    margin-left: 28%;
    margin-top: -139px;
}

.cool {
    height: 200px;
    width: 100%;
    background-image: url(../Developer-Portfolio/Images/blue.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover::after {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    object-position: 40%;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
