

body {
    background-color: #000000;
}

#One {  
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    box-shadow: 20px 25px 30px #02d1f5;
    max-height: 70vh;
}

#Two {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    box-shadow: 20px 25px 30px #5aa11c;
    max-height: 40vh;
}
#Pass {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    box-shadow: 20px 25px 30px #5aa11c;
    max-height: 40vh;
}

#Three {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    box-shadow: 20px 25px 30px #02d1f5;
    max-height: 20vh;
}

#name {
    box-shadow: 15px 25px 30px #f50202;
}

#eli {
    box-shadow: 15px 25px 30px #02d1f5;
}

#slave {
    box-shadow: 15px 25px 30px #5aa11c;
}

#us {
    box-shadow: 15px 25px 30px #02d1f5;
}

#wow {
    font-size: 20px;
}

#sub {
    background-color: #000000;
}

